body {
    font-family: sans-serif;
}

#main {
    height: 100vh;
    background-image: url('./ben10.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: hsla(216, 28%, 7%, 0.5);
    backdrop-filter: blur(16px);
    width: 30rem;
    border-radius: 10px;
}

#task-input {
    height: 3rem;
    font-size: 1rem;
    padding-left: 1rem;
}

button {
    height: 2rem;
    width: 6rem;
    color: #fff;
    background-color: black;
}

h1 {
    color: #fff;
}

#tasks {
    color: #fff;
    font-size: 1.5rem;
}


.completed {
    text-decoration: line-through;
}
